<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{page_title}}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{root_path}}assets_/css/shCore.css">
        <link rel="stylesheet" href="{{root_path}}assets_/css/shThemeDefault.css">
        <link rel="stylesheet" href="{{root_path}}assets_/css/main.css">
    </head>
    <body data-root-path="{{root_path}}">
        <div id="wrapper">
            <div id="content">
